@model Web.Models.Customer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Customer</legend>

    <div class="display-label">Nama</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nama)
    </div>

    <div class="display-label">Alamat</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Alamat)
    </div>

    <div class="display-label">Telepon</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telepon)
    </div>

    <div class="display-label">KategoriCustomer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KategoriCustomer.Nama)
    </div>

    <div class="display-label">ToP</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ToP)
    </div>

    <div class="display-label">Keterangan</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Keterangan)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
