@model Web.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Customer</legend>

    <div class="display-label">Nama</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nama)
    </div>

    <div class="display-label">Alamat</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Alamat)
    </div>

    <div class="display-label">Telepon</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telepon)
    </div>

    <div class="display-label">KategoriCustomer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KategoriCustomer.Nama)
    </div>

    <div class="display-label">Keterangan</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Keterangan)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
