@model Web.Models.Customer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Customer</legend>

        <input type="hidden" name="return_page" value="@ViewBag.ReturnPage" />
        @Html.HiddenFor(model => model.CustomerID)

        <div class="editor-label">
            @Html.LabelFor(model => model.KategoriCustomerID, "KategoriCustomer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("KategoriCustomerID", String.Empty)
            @Html.ValidationMessageFor(model => model.KategoriCustomerID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nama)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nama)
            @Html.ValidationMessageFor(model => model.Nama)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Alamat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Alamat)
            @Html.ValidationMessageFor(model => model.Alamat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telepon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telepon)
            @Html.ValidationMessageFor(model => model.Telepon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ToP) (hari)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ToP, new { @class = "numeric" })
            @Html.ValidationMessageFor(model => model.ToP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Keterangan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Keterangan)
            @Html.ValidationMessageFor(model => model.Keterangan)
        </div>

        <p>
            <input type="submit" value="Save" class="layer" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { @page=ViewBag.ReturnPage }, new { @class="layer" })
</div>
