@model Web.Models.KasKecil

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>KasKecil</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.JenisKasKecilID, "JenisKasKecil")
        </div>
        <div class="editor-field">
            @Html.DropDownList("JenisKasKecilID", String.Empty)
            @Html.ValidationMessageFor(model => model.JenisKasKecilID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tanggal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tanggal)
            @Html.ValidationMessageFor(model => model.Tanggal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Total)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Total)
            @Html.ValidationMessageFor(model => model.Total)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Keterangan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Keterangan)
            @Html.ValidationMessageFor(model => model.Keterangan)
        </div>

        <p>
            <input type="submit" value="Create" class="layer" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { }, new { @class="layer" })
</div>
