@model IEnumerable<Web.Models.KasKecil>

@{
    ViewBag.Title = "Kas Kecil";
    int numofdata = (int)ViewBag.NUM_OF_DATA;
    int numofpage = (int)ViewBag.NUM_OF_PAGE;
    int curpage = (int)ViewBag.CUR_PAGE;
    int start = (int)ViewBag.START;
    int end = (int)ViewBag.END;
}

<h2>Kas Kecil</h2>

<table class="tabelpolos" style="width:600px;">
    <tr>
        <td>@(ViewBag.ISDAYOPEN ? Html.ActionLink("Buat Transaksi", "Create", new { }, new { @class="layer" }) : Html.Raw("")) </td>
        <td style="text-align:right;">
            @if (ViewBag.ISDAYOPEN) {
                @Html.ActionLink("Tutup Periode", "DayClosing", new { }, new { @class="layer" });
            }
            else
            {
                @Html.ActionLink("Buka Periode Terakhir", "DayReopen", new { }, new { @class="layer" });
                <text>&nbsp;</text>
                @Html.ActionLink("Buka Periode Baru", "DayOpening", new { }, new { @class="layer" });
            }
        </td>
    </tr>
</table>
<br />
<table style="width:600px;">
    <tr>
        <td colspan="6">
            <table style="width:100%;border:0px;">
                <tr>
                    <td style="text-align:center;border:0px;">
                        @for (int i = 1; i <= numofpage; i++)
                        {
                            if(i == curpage){
                                @Html.ActionLink("[ " + i + " ]", "Index", new { @page = i }, new { @style="text-decoration:none;background-color:#a6e2a6;", @class="layer" });
                            }else{
                                @Html.ActionLink("[ " + i + " ]", "Index", new { @page = i }, new { @style = "text-decoration:none;", @class="layer"  });
                            }
                        }
                    </td>
                    <td style="width:150px;text-align:right;border:0px;">@start - @end dari @numofdata</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <th>
            Tanggal
        </th>
        <th>
            Keterangan
        </th>
        <th>
            Debet
        </th>
        <th>
            Kredit
        </th>
        <th>
            Saldo
        </th>
        <th></th>
    </tr>

@{ int saldo = 0; }
@foreach (var item in Model) {
    <tr>
        <td>
            @item.Tanggal.ToString("dd MMM yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Keterangan)
        </td>
        <td class="display_numeric">
            @if(item.JenisKasKecil.Nama == "DEBET") { saldo += @item.Total; @item.Total }
        </td>
        <td class="display_numeric">
            @if (item.JenisKasKecil.Nama == "KREDIT"){ saldo -= @item.Total; @item.Total }
        </td>
        <td class="display_numeric">
            @saldo
        </td>
        <td>
            @if (item.Status == true && 
                item.Keterangan != Web.Controllers.BaseController.day_opening_string && 
                item.Keterangan != Web.Controllers.BaseController.day_closing_string &&
                !item.Keterangan.StartsWith(Web.Controllers.BaseController.penjualan_prefix_string) &&
                !item.Keterangan.StartsWith(Web.Controllers.BaseController.pembelian_prefix_string) &&
                !item.Keterangan.StartsWith(Web.Controllers.BaseController.penjualan_batal_prefix_string) &&
                !item.Keterangan.StartsWith(Web.Controllers.BaseController.pembelian_batal_prefix_string) &&
                !item.Keterangan.StartsWith(Web.Controllers.BaseController.penjualan_retur_prefix_string) &&
                !item.Keterangan.StartsWith(Web.Controllers.BaseController.pembelian_retur_prefix_string))
            {
                 @Html.ActionLink("Batalkan", "Delete", new { id = item.KasKecilID }, new { @class="layer" })
            }
        </td>
    </tr>
}
    <tr>
        <td colspan="6">
            <table style="width:100%;border:0px;">
                <tr>
                    <td style="text-align:center;border:0px;">
                        @for (int i = 1; i <= numofpage; i++)
                        {
                            if(i == curpage){
                                @Html.ActionLink("[ " + i + " ]", "Index", new { @page = i }, new { @style="text-decoration:none;background-color:#a6e2a6;", @class="layer" });
                            }else{
                                @Html.ActionLink("[ " + i + " ]", "Index", new { @page = i }, new { @style = "text-decoration:none;", @class="layer"  });
                            }
                        }
                    </td>
                    <td style="width:150px;text-align:right;border:0px;">@start - @end dari @numofdata</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
