@model IEnumerable<Web.Models.ReturPenjualan>

@{
    ViewBag.Title = "Retur Penjualan";
    int PenjualanID = ViewBag.PENJUALANID;
}

<h2>Daftar Retur Penjualan</h2>

<table style="width:100%;">
    <tr>
        <th>No Retur</th>
        <th>Tgl. Transaksi</th>
        <th>Tgl. Bayar</th>
        <th>Total</th>
        <th>Keterangan</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    bool is_telat = item.StatusTransaksi == (int)Web.Models.StatusTransaksi.MenungguPembayaran;
    string style = is_telat ? "style=color:red;" : "";
    <tr @style>
        <td>
            @item.ReturPenjualanID.ToString().PadLeft(6, '0')
        </td>
        <td>
            @item.Tanggal.ToString("dd MMM yyyy")
        </td>
        <td>
            @(item.TanggalBayar.HasValue ? item.TanggalBayar.Value.ToString("dd MMM yyyy") : "")
        </td>
        <td class="display_numeric">
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Keterangan)
        </td>
        <td>
            @switch(item.StatusTransaksi)
            {
                case (int)Web.Models.StatusTransaksi.MenungguPembayaran : 
                    <text>Menunggu Pembayaran</text>
                    break;
                case (int)Web.Models.StatusTransaksi.Lunas : 
                    <text>Lunas</text>
                    break;
                case (int)Web.Models.StatusTransaksi.Dibatalkan : 
                    <text>Dibatalkan</text>
                    break;
                case (int)Web.Models.StatusTransaksi.Diputihkan : 
                    <text>Diputihkan</text>
                    break;
            }
        </td>
        <td>
            @if (item.StatusTransaksi == (int)Web.Models.StatusTransaksi.MenungguPembayaran)
            {
                @Html.ActionLink("Lihat Detail", "Edit", new { id=item.ReturPenjualanID, fid=PenjualanID }, new { @class="layer" })
            }
            else
            {
                @Html.ActionLink("Lihat Detail", "Details", new { id=item.ReturPenjualanID, fid=PenjualanID }, new { @class="layer" })
            }
        </td>
    </tr>
}
</table>
<p>
    <a href="/Penjualan/Details/@PenjualanID" class="layer">Back to Faktur</a>
</p>