@model IEnumerable<Web.Models.Penjualan>

@{
    ViewBag.Title = "History Penjualan";
    int numofdata = (int)ViewBag.NUM_OF_DATA;
    int numofpage = (int)ViewBag.NUM_OF_PAGE;
    int curpage = (int)ViewBag.CUR_PAGE;
    int start = (int)ViewBag.START;
    int end = (int)ViewBag.END;

    System.Collections.Hashtable RETUR = ViewBag.RETUR;
}

<h2>HIstory Penjualan</h2>

<table style="width:100%;">
    <tr>
        <td colspan="13">
            <table style="width:100%;border:0px;">
                <tr>
                    <td style="text-align:center;border:0px;">
                        @for (int i = 1; i <= numofpage; i++)
                        {
                            if(i == curpage){
                                @Html.ActionLink("[ " + i + " ]", "HistoryPenjualan", new { @page = i }, new { @style="text-decoration:none;background-color:#a6e2a6;", @class="layer" });
                            }else{
                                @Html.ActionLink("[ " + i + " ]", "HistoryPenjualan", new { @page = i }, new { @style = "text-decoration:none;", @class="layer"  });
                            }
                        }
                    </td>
                    <td style="width:150px;text-align:right;border:0px;">@start - @end dari @numofdata</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <th>No Faktur</th>
        <th>Tanggal</th>
        <th>Customer</th>
        <th>Jatuh Tempo</th>
        <th>Tipe Pembayaran</th>
        <th>Tanggal Bayar</th>
        <th>SubTotal</th>
        <th>Retur</th>
        <th>Total</th>
        <th>Keterangan</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    bool is_telat = item.JatuhTempo.Date < DateTime.Now.Date && !item.TanggalBayar.HasValue;
    string style = is_telat ? "style=color:red;" : "";
    <tr>
        <td>
            @item.PenjualanID.ToString().PadLeft(6, '0')
        </td>
        <td>
            @item.Tanggal.ToString("dd MMM yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Nama)
        </td>
        <td @style>
            @item.JatuhTempo.ToString("dd MMM yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipePembayaran.Nama)
        </td>
        <td>
            @if(item.TanggalBayar.HasValue)
            {
                <text>@item.TanggalBayar.Value.ToString("dd MMM yyyy")</text>
            }
        </td>
        <td class="display_numeric">
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td class="display_numeric">
            @RETUR[item.PenjualanID]
        </td>
        <td class="display_numeric">
            @(item.Total - (int)RETUR[item.PenjualanID])
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Keterangan)
        </td>
        <td>
            @switch(item.StatusTransaksi)
            {
                case (int)Web.Models.StatusTransaksi.MenungguPembayaran : 
                    <text>Menunggu Pembayaran</text>
                    break;
                case (int)Web.Models.StatusTransaksi.Lunas : 
                    <text>Lunas</text>
                    break;
                case (int)Web.Models.StatusTransaksi.Dibatalkan : 
                    <text>Dibatalkan</text>
                    break;
                case (int)Web.Models.StatusTransaksi.Diputihkan : 
                    <text>Diputihkan</text>
                    break;
            }
        </td>
        <td>
            @Html.ActionLink("Lihat Detail", "HistoryPenjualanDetails", new { id = item.PenjualanID }, new { @class="layer" })
        </td>
        <td>
            <a href="javascript:print_faktur(@item.PenjualanID)">Print Faktur</a>
        </td>
    </tr>
}

    <tr>
        <td colspan="13">
            <table style="width:100%;border:0px;">
                <tr>
                    <td style="text-align:center;border:0px;">
                        @for (int i = 1; i <= numofpage; i++)
                        {
                            if(i == curpage){
                                @Html.ActionLink("[ " + i + " ]", "HistoryPenjualan", new { @page = i }, new { @style="text-decoration:none;background-color:#a6e2a6;", @class="layer" });
                            }else{
                                @Html.ActionLink("[ " + i + " ]", "HistoryPenjualan", new { @page = i }, new { @style = "text-decoration:none;", @class="layer"  });
                            }
                        }
                    </td>
                    <td style="width:150px;text-align:right;border:0px;">@start - @end dari @numofdata</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<script>
    function print_faktur(id) {
        $("#blocking_layer").show();
        $.ajax({
            type: "POST",
            url: "/Penjualan/print_faktur_by_id",
            data: { penjualanID : id},
            success: function (data) {
                $("#blocking_layer").hide();
            },
            error: function (data) {
                $("#blocking_layer").hide();
            }
        });
    }
</script>